# 运行时文件
runtime/

# 打包文件
dist/

# 环境变量
.env

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# node script lib
node_modules/